name: Create Docs Conda-Lock File

on:
  workflow_dispatch:

defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:
  create-conda-lock-file-and-test-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Install conda-lock with Micromamba
    - uses: mamba-org/setup-micromamba@v2
      with:
        environment-name: conda-lock
        create-args: >-
          conda-lock
